<p>
  <b>Section:</b>
  <%=h @subrelation.section_id %>
</p>

<p>
  <b>Subsection:</b>
  <%=h @subrelation.subsection_id %>
</p>


<%= link_to 'Edit', edit_subrelation_path(@subrelation) %> |
<%= link_to 'Back', subrelations_path %>